.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4%;
}

hr {
    width: 5rem;
    border: 1px solid #13357b;
}

.mainContainerHeading {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    color: #13357b;
    font-weight: 500;
    padding: 1rem;
}

.mainHeading {
    font-size: 2.6rem;
    font-family: "Jost", sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    margin: -4% auto 5%;
    color: #14141F;
}